  /**********************************/
  .arrow-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

.arrow {
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow-up {
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #000000 transparent;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-down {
    border-width: 40px 20px 0 20px;
    border-color: #000000 transparent transparent transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-left {
    border-width: 20px 40px 20px 0;
    border-color: transparent #000000 transparent transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arrow-right {
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #000000;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.arrow-up-left {
    border-width: 40px 20px 0 20px;
    border-color: #000000 transparent transparent transparent;
    top: 20px;
    left: 20px;
    transform: rotate(135deg);
}

.arrow-up-right {
    border-width: 40px 20px 0 20px;
    border-color: #000000 transparent transparent transparent;
    top: 20px;
    right: 20px;
    transform: rotate(-135deg);
}

.arrow-down-left {
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #000000 transparent;
    bottom: 20px;
    left: 20px;
    transform: rotate(-135deg);
}

.arrow-down-right {
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #000000 transparent;
    bottom: 20px;
    right: 20px;
    transform: rotate(135deg);
}

#eightway_color_select
{

    width: 100px;
}

#eighway_set_leds
{
    margin-left: 25%;
}

#eightway_leds_nums
{
    background-color: #bbbbbb;

}

#eighway_leds_num_container
{
    white-space: nowrap; 
    overflow-x: auto; 
}

#eightway_open_directions_modal
{
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center the button horizontally */
}

#eightway_reset
{
    position: absolute;
    top: 165px;
    left: 50px;
}