
#oled_add_button
{
    position: absolute;
    right: 20px;
    top: 70px;
}

#oled_add_lever
{
    position: absolute;
    right: 130px;
    top: 70px;
}

#oled_add_key
{
    position: absolute;
    right: 240px;
    top: 70px;
}

#delete_oled_button
{
    position: absolute;
    right: 330px;
    top: 50px;
}

#oled_button_radius
{
    position: absolute;
    right: 25px;
    top: 110px;
    width: 70px;
}

#oled_radius_label
{
    position: absolute;
    right: 107px;
    top: 114px;
    font-size: small;
}

#oled_modal
{
    width: 600px;
    height: 800px;
}

#oled_invert_button
{
    position: absolute;
    left: 470px;
    top: 380px;
}

#oled_key_angle
{
    position: absolute;
    right: 25px;
    top: 140px;
}

#oled_rotation_label
{
    position: absolute;
    right: 88px;
    top: 143px;
    font-size: small;
}


#imageLoader 
{
    display: none;
}


#customButton 
{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    position: absolute;
    left: 330px;
    top: 380px;
    
}

#customButton:hover 
{
    background-color: #0056b3;
}

#oled_select_activation_button
{
    position: absolute;
    right: 25px;
    top: 190px;
    width: 120px;
}

#act_button_label
{
    position: absolute;
    right: 30px;
    top: 175px;
    font-size: small;
}

#splash_screen_head
{
    position: absolute;
    top: 270px;
    left: 325px;
}

#delete_oled_button
{
    color: lightgray;
}

#oled_open_directions
{
    position: absolute;
    top: 180px;
    right: 20px;
}

#oled_set_predef_layout
{
    position: absolute;
    top: 180px;
    left: 45px;
    width: 130px;
}

#oled_splash_always_on
{
    position: absolute;
    bottom: 105px;
    left: 180px;
}


#exportBtn
{
    padding: 5px 10px;
    background-color: #059700;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    left: 180px;
    top: 174px;
}



#oled_normal_operation_label
{
    position: absolute;
    top: 460px;
    left: 30px;
    font-size: 90%;
}

#oled_layout
{
    width: 150px;
    left: 28px;
    top: 480px;
    position: absolute;
}


#oled_idle_label
{
    position: absolute;
    top: 520px;
    left: 30px;
    font-size: 90%;
}

#oled_idle
{
    position: absolute;
    top: 540px;
    left: 28px;
    width: 150px;
}

#upload_overlay_button
{
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    position: absolute;
    left: 40px;
    top: 380px;
}

#overlay_head
{
    position: absolute;
    top: 270px;
}

#oled_upload_animation_button
{
    padding: 5px 10px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    position: absolute;
    top: 670px;
    left: 390px;
    width: 180px;
    height: 30px;
}

#animation_border
{
    border: 1px solid rgb(143, 142, 142);
    border-radius: 10px;
    width: 280px;
    height: 114px;

    left: 340px;
    top: 640px;
    position:absolute;
    pointer-events: none;
}

#oled_download_animation
{
    position: absolute;
    top: 710px;
    width: 241px;
    left: 360px;
    opacity: 50%;
}

#oled_anim_text
{
    position: absolute;
    left: 440px;
    top: 645px;
}

#oled_anim_helper
{
    position: absolute;
    left: 580px;
    top: 675px;
}

#oled_overlay_helper
{
    position: absolute;
    top: 385px;
    left: 190px;
}

#my_splash_canvas
{
    position: absolute;
    left: 300px;
}

#oled_close_modal_button
{
    position: absolute;
    top: 780px;
}

#oled_invert_oled, #oled_invert_check_label
{
    position: absolute;
    top: 531px;
    left: 230px;
}

#oled_invert_check_label
{
    left: 250px;
}
#oled_rotate_oled, #oled_rotate_check_label
{
    position: absolute;
    top: 561px;
    left: 230px;
}

#oled_rotate_check_label
{
    left: 250px;
}

#oled_type_select
{
    position: absolute;
    top: 480px;
    left: 240px;
}

#oled_type_label
{
    position: absolute;
    top: 465px;
    left: 250px;
    font-size: small;
}

#oled_i2c_rad1
{
    position: absolute;
    top: 480px;
    left: 390px;
}
#oled_i2c_rad2
{
    position: absolute;
    top: 520px;
    left: 390px;
}

#oled_i2c_rad1_label
{
    position: absolute;
    top: 480px;
    left: 415px;

}

#oled_i2c_rad2_label
{
    position: absolute;
    top: 522px;
    left: 415px;

}

#oled_sda0_select, #oled_sda1_select
{
    position: absolute;
    top: 500px;
    left: 460px;
}

#oled_scl0_select, #oled_scl1_select
{
    position: absolute;
    top: 500px;
    left: 540px;
}

#oled_sda_label
{
    position: absolute;
    left: 480px;
    font-size: small;
    top: 483px;
}

#oled_scl_label
{
    position: absolute;
    left: 560px;
    font-size: small;
    top: 483px;
}

#oled_rotate_helper
{
    position: absolute;
    top: 561px;
    left: 355px;
}

#oled_animation_delay
{
    width: 60px;
    position: absolute;
    top: 680px;
    left: 230px;
}

#oled_animation_delay_label1
{
    font-size: small;
    position: absolute;
    top: 660px;
    left: 225px;
}

#oled_animation_delay_label2
{
    font-size: small;
    position: absolute;
    top: 682px;
    left: 300px;
}

#oled_anim_delay_helper
{
    font-size: small;
    position: absolute;
    top: 665px;
    left: 310px;
}

#oled_guide_link
{
    position: absolute;
    left: 150px;
    top: 785px;
    color: #0056b3;
    text-decoration: underline;
}
