#rightclick-menu {
    position: absolute;
    background-color: var(--bg-elements);
    border: 1px solid var(--bg-led-num);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px 0;
    font-size: 14px;
    min-width: 150px;
    color: var(--text-general);
}

#rightclick-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#rightclick-menu li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Add separator after the first item */
#rightclick-menu li:first-child {
    border-bottom: 1px solid var(--bg-led-num);
    margin-bottom: 4px;
}

#rightclick-menu li:hover {
    background-color: var(--bg-arrows);
    color: #007bff; /* Optional: Add a color change on hover */
}

.hidden {
    display: none;
}