select {
  font-family: inherit;
  font-size: 16px;
  padding: 12px 15px;
  border: 2px solid #ffc1c1;
  border-radius: 8px;
  width: 100%;
  max-width: 200px; /* Adjust as needed */
  background-color: var(--bg-buttons);
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-top: 4px;
  color: var(--text-general);
}

select:focus {
  outline: none;
  border-color: #7ab8ff;
  box-shadow: 0 2px 8px rgba(122, 184, 255, 0.2);
}

select:hover {
  border-color: #a0cfff;
}